footer.footer
        .container
            .footer-detail
                .contact-1
                    .company
                        .name-company
                            img(src="", alt="", srcset="../../images/logosm.png")
                            p TỔNG CÔNG TY VĂN HÓA SÀI GÒN
                                br
                                | SAIGON CULTURAL PRODUCTS CORP.
                        .icon-social 
                            .facebook 
                                a(href="#") 
                                    <i class="fa-brands fa-facebook-f"></i>
                            .instagram 
                                a(href="#") 
                                    <i class="fa-brands fa-instagram"></i>
                            .linkedin
                                a(href="#") 
                                    <i class="fa-brands fa-linkedin"></i>
                            .zalo
                                a(href="#")  
                                    img(src="", alt="", srcset="../../images/zalo.png")
                        .brochure
                            .icon-brochure 
                                a(href="#") 
                                    img(src="", alt="", srcset="../../images/brochure.png")   
                                a(href="#") Tải Brochure 
                .contact-2 
                    .lienhe 
                        h4 Liên hệ
                        .address 
                            span Địa chỉ
                            p 88 Trần Đình Xu, Phường Cô Giang, Quận 1, Thành phố Hồ Chí Minh
                        .hotline 
                            span Hotline
                            p (028) 383 65 778 - (028)392 06 606 – (028) 383 85 269
                        .website 
                            span Website
                            a(href="#") http://www.scpc.com.vn
                .contact-3 
                    .lienketnhanh
                        h4 Liên kết nhanh
                        ul
                            li 
                                a(href="#") Giới thiệu
                            li 
                                a(href="#") Lĩnh vực hoạt động
                            li 
                                a(href="#") Tin tức
                            li 
                                a(href="#") Công bố thông tin 
                            li 
                                a(href="#") Liên hệ  
                .contact-4 
                    .dangkythongbao 
                        h4 Đăng ký thông báo
                        p Nhập thông tin của bạn để đăng ký nhận thông báo về tin tức mới nhất của SCPC
                        .form-email
                            form(action="#")
                                input(type="email", placeholder="  Email...")
                                a(href="#") 
                                    <i class="fa-regular fa-paper-plane"></i>
        
        .copyright 
            .container
                .left
                    .cprCC Copyright © 2022 SCPC. Thiết kế web bởi Cánh Cam
                    p Mọi thông tin được sử dụng trên website đều phải thông qua và được sự chấp thuận từ phía SCPC
                .right 
                    a(href="#") Điều kiện và điều khoản | 
                    a(href="#") Chính sách bảo mật | 
                    a(href="#") Sitemap