header.header 
        .container
            .logo
                a(href="#")  
                    img(src="", alt="", srcset="../../images/logo.png")
            .menu 
                ul 
                    li
                        a(href="#") Trang chủ 
                    li
                        a(href="#") Giới thiệu
                    li
                        a(href="#") Lĩnh vực hoạt động
                    li
                        a(href="#") Tin tức
                    li
                        a(href="#") Công bố thông tin
                    li
                        a(href="#") Liên hệ
            .search 
                ul 
                    li 
                        a(href="#")
                            <i class="fa-solid fa-magnifying-glass"></i>
                    li
                        img(src="", alt="", srcset="../../images/g1.png")
                    li 
                        select#lang(name="lang")
                            option(value="VN") VN
                            option(value="EN") EN
                    