section.banner
    img(src="", alt="", srcset="../images/bannercbtt.png")
+Breadcrumbs("Công bố thông tin")
section.congbothongtin 
            .container 
                .title 
                    h3 Công bố thông tin
                    ul 
                        li 
                            a(href="#") Tài chính
                        li 
                            a(href="#") Kinh doanh
                        li 
                            a(href="#") Lao động
                .list-report 
                    +ListReport("10.11.2022","Báo cáo tài chính 6 tháng đầu năm 2022 Công ty Mẹ")
                    +ListReport("10.11.2022","Báo cáo tài chính đã kiểm toán hợp nhất năm 2020")
                    +ListReport("10.11.2022","Báo cáo tài chính đã kiểm toán hợp nhất năm 2020")
                    +ListReport("10.11.2022","Báo Cáo Đánh Giá Về Kết Quả Thực Hiện Kế Hoạch Sản Xuất Kinh Doanh Năm 2020")
                    +ListReport("10.11.2022","Báo Cáo Đánh Giá Về Kết Quả Thực Hiện Kế Hoạch Sản Xuất Kinh Doanh Năm 2020")
                    +ListReport("10.11.2022","Báo cáo thực trạng quản trị và cơ cấu tổ chức của doanh nghiệp năm 2020")
                    +ListReport("10.11.2022","Báo Cáo Đánh Giá Về Kết Quả Thực Hiện Kế Hoạch Sản Xuất Kinh Doanh Năm 2020")
                    +ListReport("10.11.2022","Báo Cáo Đánh Giá Về Kết Quả Thực Hiện Kế Hoạch Sản Xuất Kinh Doanh Năm 2020")
                    +ListReport("10.11.2022","Báo cáo tài chính đã kiểm toán hợp nhất năm 2020")
                .pagination 
                    button 1
                    button 2
                    button 3
                    button 4
                    button 5
