.banner 
    img(src="", alt="", srcset="../images/bannergt.png")
+Breadcrumbs("Giới thiệu")
section.gioithieu 
            .container 
                .tongquan 
                    .content-left
                        h3 Tổng quan
                        p Tổng Công ty Văn hóa Sài Gòn với 19 đơn vị thành viên có bề dày kinh nghiệm hoạt động trong các lĩnh vực in ấn, vật tư – thiết bị ngành in, điện ảnh, sản xuất – kinh doanh chương trình băng đĩa nhạc, phát hành sách, nhiếp ảnh, mỹ thuật,… có nguồn khách hàng truyền thống và là đối tác tin cậy của nhiều doanh nghiệp lớn trên cả nước, đã không ngừng phấn đấu để khẳng định thương hiệu và nâng cao vị thế của mình trên thương trường trong và ngoài nước.
                    .image-right 
                        img(src="", alt="", srcset="../images/gt1.png")
            .section-history
                .container
                    .slider-history 
                        h3 Lịch sử hình thành
                        .swiper.swiper-history
                            .swiper-wrapper
                                +SliderHistory("Ra đời cuối năm 2003 trên cơ sở tổ chức lại các doanh nghiệp được tách từ Sở Văn hóa và Thông tin TP.Hồ Chí Minh, Tổng Công ty Văn hóa Sài Gòn là Tổng Công ty đầu tiên của Thành phố Hồ Chí Minh hoạt động chuyên biệt trong lĩnh vực văn hóa và dịch vụ văn hóa. Tổng Công ty Văn hóa Sài Gòn là Tổng Công ty đầu tiên của Thành phố Hồ Chí Minh hoạt động chuyên biệt trong lĩnh vực văn hóa và dịch vụ văn hóa.Tổng Công ty Văn hóa Sài Gòn là Tổng Công ty đầu tiên của Thành phố Hồ Chí Minh hoạt động chuyên biệt trong lĩnh vực văn hóa và dịch vụ văn hóa.","2003")
                                +SliderHistory("Trong năm 2009, Tổng Công ty Văn hóa Sài Gòn đã vinh dự được Chủ tịch nước tặng Huân chương lao động hạng ba và Bộ Công Thương trao tặng danh hiệu Doanh nghiệp phát triển bền vững. Cùng trong năm 2009, Trung tâm Văn ","2009")
                                +SliderHistory("Năm 2010, Tổng Công ty thành lập Trung tâm tổ chức sự kiện với lĩnh vực hoạt động chính là tổ chức các hoạt động giải trí, văn hóa nghệ thuật, lễ hội, hội nghị khách hàng, quảng cáo sản phẩm.","2010")
                                +SliderHistory("Năm 2010, Tổng Công ty thành lập Trung tâm tổ chức sự kiện với lĩnh vực hoạt động chính là tổ chức các hoạt động giải trí, văn hóa nghệ thuật, lễ hội, hội nghị khách hàng, quảng cáo sản phẩm.","2022")
                                .swiper-slide Slide 1
                                .swiper-slide Slide 2
                                .swiper-slide Slide 3
                            .swiper-button-next
                            .swiper-button-prev
            .section-tamsugia 
                .container
                    .tamsugia
                        .left-img 
                            img(src="", alt="", srcset="../images/gt2.png")
                        .right-content 
                            h3 Tầm nhìn - Sứ mệnh - Giá trị cốt lõi
                            .tamnhin 
                                .icon-tamnhin
                                    img(src="", alt="", srcset="../images/tamnhin.png")
                                .content-tamnhin 
                                    h4 Tầm nhìn
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            .tamnhin 
                                .icon-tamnhin
                                    img(src="", alt="", srcset="../images/sumenh.png")
                                .content-tamnhin 
                                    h4 Sứ mệnh
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            .tamnhin 
                                .icon-tamnhin
                                    img(src="", alt="", srcset="../images/gtcl.png")
                                .content-tamnhin 
                                    h4 Giá trị cốt lõi
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            .bannerNumber 
                .container 
                    h3 Các con số biết nói
                    .detail
                        .namhinhthanh
                            .numyear
                                p.number 23
                            p Năm hình thành và phát triển
                        .namhinhthanh 
                            .numyear
                                p.number 19
                            p Đơn vị thành viên có bề dày kinh nghiệm
                        .namhinhthanh 
                            .numyear
                                p.number 50+
                            p Đối tác & Khách hàng
            .lanhdao-section
                .container
                    h3 Ban lãnh đạo
                    .hoidong
                        .thanhvien
                            a(href="#") Hội đồng thành viên
                        .giamdoc
                            a(href="#") Ban Tổng Giám đốc
                    .hoidong-info
                        +Hoidongthanhvien("../images/hdtv1.png","Ông ","Nguyễn Hồng Hà","Chủ tịch Hội Đồng Thành Viên")
                        +Hoidongthanhvien("../images/hdtv2.png","Ông ","Trương Văn Hiền","Thành viên HĐTV")
            .congtythanhvien 
                .container
                    h3 công ty thành viên
                    .swiper.mySwiper
                        .swiper-wrapper
                            .swiper-slide 
                                img(src="", alt="", srcset="../images/cty1.png")
                            .swiper-slide 
                                img(src="", alt="", srcset="../images/cty2.png")
                            .swiper-slide 
                                img(src="", alt="", srcset="../images/cty3.png")
                            .swiper-slide 
                                img(src="", alt="", srcset="../images/cty4.png")
                            .swiper-slide 
                                img(src="", alt="", srcset="../images/cty5.png")
                        .swiper-button-next
                        .swiper-button-prev      