.banner 
    img(src="", alt="", srcset="../images/bannerlvhd.png")
+Breadcrumbs("Lĩnh vực hoạt động")
section.lvhdds 
    .section-redbg 
        .container
            h3 Lĩnh vực hoạt động
            +Linhvuc-redbg("In ấn","Trong lĩnh vực in ấn và bao bì, từ lâu Tổng Công Ty Văn hóa Sài Gòn đã là nhà cung cấp chuyên nghiệp và uy tín. Khách hàng có nhu cầu đến với Tổng Công Ty Văn Hóa Sài Gòn sẽ có nhiều cơ hội chọn lựa, hợp tác cùng 8 Công ty chuyên về gia công in ấn và chế bản với đội ngũ công nhân kỹ thuật chuyên nghiệp, các thiết bị chế bản và in ấn hiện đại, hệ thống máy xuất phim, máy in offset nhiều màu của Heidelberg và Komori, máy in flexo 6 màu của Aquaflex và công nghệ gia công hoàn chỉnh sau in …cho phép in các sản phẩm đẹp, nhiều kích cỡ; hệ thống máy xuất kẽm CTP Suprasetter 105 giúp nâng cao chất lượng và giảm thời gian thực hiện sản phẩm, đồng thời tiết giảm chi phí từ 10 – 15% cho khách hàng so với công nghệ xuất phim truyền thống trước đây.","../images/bg1.png","../images/inan.png")
    .section-whitebg 
        .container
            +Linhvuc-whitebg("Phát hành","Phát hành sách là lĩnh vực mà các hoạt động của Tổng Công ty thể hiện được phương châm “Tăng trưởng Kinh tế đi đôi với phát triển Văn hóa Xã hội” một cách rõ nét. Kinh doanh phát triển, mở rộng kết hợp với các hoạt động phục vụ cộng đồng đã tạo nên hiệu ứng tốt trong xã hội khi nhìn nhận vai trò của một Tổng Công ty kinh doanh trong lĩnh vực Văn hóa.","../images/bg2.png","../images/phathanh.png")
    .section-redbg 
            .container
                +Linhvuc-redbg("ĐIỆN ẢNH","Tổng Công ty Văn hóa Sài Gòn hiện có hai hãng phim chuyên sản xuất phim các loại và dịch vụ thuộc lĩnh vực phim ảnh. Đây đều là những đơn vị có uy tín và hoạt động lâu năm trong lĩnh vực điện ảnh, với trang thiết bị hiện đại đáp ứng được nhu cầu thị trường và đội ngũ nhân viên kỹ thuật, sáng tác dày dạn kinh nghiệm, sáng tạo, năng động sẵn sàng mang đến cho khách hàng những sản phẩm có chất lượng cao.","../images/bg1.png","../images/dienanh.png")
    .section-whitebg 
            .container
                +Linhvuc-whitebg("dịch vụ","Với định hướng đúng đắn cùng tầm nhìn chiến lược, cộng với lợi thế về nhân lực, tài chính, cơ sở hạ tầng…mảng dịch vụ “Tổ chức Sự kiện và Dịch vụ Văn hóa” của Tổng Công ty Văn Hóa Sài Gòn đóng một vai trò quan trọng trong sự đi lên và phát triển chung trong các ngành nghề, dịch vụ khác của Tổng Công ty.","../images/bg1.png","../images/dichvu.png")

