.banner
    img(src="", alt="", srcset="../images/bannerttds.png")
+Breadcrumbs('Tin tức')
section.tintucds
            .container
                .title 
                    h2 Tin tức
                    .section_news
                        ul 
                            li 
                                a(href="#") Tất cả 
                            li 
                                a(href="#") Tin nổi bật
                            li 
                                a(href="#") Tin công ty
                            li 
                                a(href="#") Thành viên
                .main-news 
                    .left-news
                        img(src="", alt="", srcset="../images/n1.png")
                        .content-in-img
                            a(href="#") 
                                h4 NXB Trẻ ra loạt sách mới mừng sinh nhật tuổi 30
                                p Nhân kỷ niệm 30 năm thành lập, NXB Trẻ ra mắt nhiều sách mới của các tác giả uy tín như Nguyên Ngọc, Hoàng Phủ Ngọc Tường... cùng tuyển tập các cây bút, nhà văn trẻ được yêu thích
                                p Thành viên  |  03.11.2022
                    .right-news 
                        img(src="", alt="", srcset="../images/n2.png")
                        .content-under-img 
                            a(href="#") 
                                h4 NXB Trẻ ra loạt sách mới mừng sinh nhật tuổi 30
                                p.content Nhân kỷ niệm 30 năm thành lập, NXB Trẻ ra mắt nhiều sách mới của các tác giả uy tín như Nguyên Ngọc, Hoàng Phủ Ngọc Tường... cùng tuyển tập các cây bút, nhà văn trẻ được yêu thích Nhân kỷ niệm 30 năm thành lập, NXB Trẻ ra mắt nhiều sách mới của các tác giả uy tín như Nguyên Ngọc, Hoàng Phủ Ngọc Tường... cùng tuyển tập các cây bút, nhà văn trẻ được
                                p.thanhvien Thành viên  |  03.11.2022
                    +ListNews('../images/n3.png',"Tổng Cty Văn hoá Sài Gòn phấn đấu trở thành DN kinh tế văn hóa lớn mạnh","(HCM Cityweb) – Sáng 10-8, Trưởng ban Tổ chức Thành uỷ Nguyễn Thị Thu Hà và Phó Chủ tịch UBND TP HCM Hứa Ngọc Thuận đã tham dự Đại hội Đảng bộ Tổng công ty Văn hóa Sài Gòn (VHSG) nhiệm kỳ II (2010 – 2015).","Thành viên  |  03.11.2022")
                    +ListNews('../images/n4.png',"Xây dựng Nhà máy in chất lượng cao"," TT - Ngày 4-12, Công ty cổ phần In số 7 (thuộc Tổng công ty Văn hóa Sài Gòn) đã khởi công xây dựng nhà máy in chất lượng cao tại Khu công nghiệp Tân Tạo (Bình Tân, TP.HCM) với tổng số vốn hơn 100 tỉ đồng.","Thành viên  |  03.11.2022")
                    +ListNews('../images/n5.png',"Công ty FAHASA tổ chức “Tuần lễ triển lãm sách Pháp”","(NLĐ) - Công ty FAHASA tổ chức “Tuần lễ triển lãm sách Pháp” nhằm đáp ứng nhu cầu của độc giả yêu sách tiếng Pháp đặc biệt là các học sinh, sinh viên, học viên của các trung tâm Pháp ngữ.","Thành viên  |  03.11.2022")
                    +ListNews('../images/n6.png',"Ông Lê Hoàng nhận giải thưởng “Thành tựu trọn đời trong xuất bản”","TT - Tối 9-7, ủy ban tổ chức của Hội thảo xuất bản châu Á thường niên lần 4 (APC 4) đã trao tặng ông Lê Hoàng, chủ tịch hội đồng quản trị Tổng công ty Văn hóa Sài Gòn, giải thưởng “Thành tựu trọn đời trong xuất bản”.","Thành viên  |  03.11.2022")
                    +ListNews('../images/n7.png',"Tổng Cty Văn hoá Sài Gòn phấn đấu trở thành DN kinh tế văn hóa lớn mạnh","(SGGP) - Nhà nghiên cứu Mộc Quế (ảnh) là chuyên gia tư vấn doanh nghiệp, gần đây ông chuyển sang nghiên cứu và giảng dạy về văn hóa cơ sở, văn hóa doanh nghiệp, văn hóa gia đình. Nhân Ngày Gia đình Việt Nam (28-6)","Thành viên  |  03.11.2022")
                    +ListNews('../images/n8.png',"NXB Trẻ ra loạt sách mới mừng sinh nhật tuổi 30","Nhân kỷ niệm 30 năm thành lập, NXB Trẻ ra mắt nhiều sách mới của các tác giả uy tín như Nguyên Ngọc, Hoàng Phủ Ngọc Tường... cùng tuyển tập các cây bút, nhà văn trẻ được yêu thích Nhân kỷ niệm 30 năm thành lập, ","Thành viên  |  03.11.2022")
                .pagination 
                        button 1
                        button 2
                        button 3
                        button 4
                        button 5


